<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Entries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        table {
            margin-top: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Entries</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Resume</th>
                    <th>Improvements</th>
                    <th>CV Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.email }}</td>
                    <td><a href="{{ url_for('download_resume', relative_path=entry.resume_file.split('/')[-1]) }}">{{ entry.resume_file }}</a></td>
                    <td>{{ entry.improvements }}</td>
                    <td>{{ entry.cvscore }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('download_xls') }}" class="btn btn-secondary">View on Google Sheets</a>
    </div>
</body>
</html>
