<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceed to Analysis</title>
</head>
<body>
    <h1>Your CV score</h1>
    <p>Your CV score is almost ready! Share this with your friends on Whatsapp to reveal your score</p>
    <button id="redirectButton">Share on Whatsapp</button>
    <script>
        document.getElementById('redirectButton').addEventListener('click', function() {
            var message = encodeURIComponent("Upskill by attending this AI masterclass. It's completely free! https://www.pixeltests.com/ai/p/registration");
            var whatsappUrl = "https://wa.me/?text=" + message;
            window.open(whatsappUrl, '_blank');
            window.location.href = '/analyse';
        });
    </script>
</body>
</html>
